.persons-cards {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.person-card {
  display: flex;
  flex-direction: column;
  width: 48.700%;
  border-radius: 20px;
  background-color: #F2F3EE;
  margin: 0;
  padding: 30px;
  gap: 20px;
}

.person-card__header-block {
  display: flex;
  gap: 5px;
  flex-direction: column;
  align-items: flex-start;
}

.person-card__header-name {
  font-weight: 300;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}

.person-card__header-post {
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
}

.person-card__info {
  display: flex;
  gap: 30px;

}

.person-card__image {
  width: 100%;
  height: 330px;
  border-radius: 12px;
  object-fit: contain;
}

.person-card__info-block {
  display: flex;
  flex-direction: column;
}

.person-card__info-block--accent,
.person-card__info-block--accent .person-card__info-desc--secondary {
  text-align: center;
}

.person-card__info-desc {
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  margin: 0 0 20px;
}

.person-card__info-desc--secondary {
  font-size: 14px;
  font-weight: 300;
  line-height: 18px;
  text-align: right;
}

.person-card__links {
  display: flex;
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  margin-top: auto;
}



.person-card__link {
  display: flex;
  width: 140px;
  padding: 7px 0;
  justify-content: center;
}


.person-card__link--accent {
  border-radius: 40px;
  background-color: #D6D2C4;
}