.persons-cards {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.persons-cards__items {
  width: 48.700%;
  border-radius: 20px;
  background-color: #F2F3EE;
  margin: 0;
  padding: 30px;
}

